.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 2vh;
   width: 25rem;
  z-index: 100;
  overflow: hidden;
  left: calc(60% - 20rem);
}

.header {
  background: #8e0419;
  padding: 0.5rem;
}

.header h3 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
  color: #ffff;
}

.actions {
  padding: 0.2rem;
  display: flex;
  justify-content: flex-end;
}


  @media (max-width: 600px) {
    .modal {
      top: auto;
      left: 10%;
      width: 320px;
    }
  }

