.head {
  background: rgba(207, 235, 207, 0.2);
}

.header-app {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  background-color: white;
  object-fit: contain;
  padding: 10px;
}

.header_image {
  object-fit: contain;
  width: 80px;
}

.login {
  color: rgb(255, 255, 255);
  margin-right: 10px;
  background: rgb(101, 21, 207);
}

.signup {
  color: rgb(255, 255, 255);
  background: rgb(21, 86, 207);
}

.header_items {
  margin: 5px;
  margin-right: 20px;
}

.logout{
  background: rgb(201, 51, 51);
  color: white;
}

.logout:hover{
  background: rgb(180, 24, 24);
}

