* {
  margin: 0px;
}

.app_posts {
  padding: 20px;
}
.title {
  text-align: center;
}

.welcome-message {
  border: 2px solid #6324d1;
  width: 400px;
  height: 30px;
  border-left: none;
}

.welcome-message h3 {
  font-size: 20px;
  text-align: center;
  font-family: monospace;
}

@media (max-width: 600px) {
  .welcome-message {
    max-width: 300px;
    border-left: none;
  }
  .welcome-message h3 {
    font-size: 15px;
    text-align: left;
    padding-right: 5px;
  }
}
