.formcard {
  background: #ffff;
  position: fixed;
  top: 20vh;
  left: 40%;
  z-index: 100;
  overflow: hidden;
  width: 350px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.form input {
  margin: 10px;
  height: 30px;
  font-size: 18px;
}

.form h3 {
  text-align: center;
  font-size: 25px;
  color: #3a4cd7;
}

.lgbutton {
  background: rgb(47, 47, 170);
  color: #ffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 120px;
  height: 35px;
}

.lgbutton:hover {
  background: rgb(24, 24, 145);
}

.comment {
  width: 400px;
  height: 1.2rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dotted;
  padding-left: 20px;
}
.comment_img {
  width: 20px;
  /* padding-left: 30px; */
}
.comment_img:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .formcard {
    top: 20vh;
    left: 15%;
    max-width: 300px;
  }
  .comment {
    width: 250px;
  }
  .comment_img {
    width: 20px;
  }
}
